<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar color="success">
      <ion-title>Loja de camisas</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="OpenPage('home')">
        <ion-icon name="home" slot="start" color="success"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-item>
      <ion-item (click)="OpenPage('listas')">
        <ion-icon name="shirt" slot="start" color="success"></ion-icon>
        <ion-label>Camisas</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="success">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Camisas</ion-title>
    </ion-toolbar>
  </ion-header>
    <ion-content>

      <ion-label class="title">Brasileirão</ion-label>

      <ion-slides [options]="sliderCamisas">
        <ion-slide *ngFor="let camisas of brasileirao">
          <ion-card>
            <ion-card-header>
              <img src="{{ camisas.imagem }}">
              <ion-card-subtitle>{{ camisas.descricao }}</ion-card-subtitle>
              <ion-card-title>{{ camisas.valor }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-button size="small" color="success">
                Comprar
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>

      
      <ion-label class="title">Champions League</ion-label>

      <ion-slides [options]="sliderCamisas">
        <ion-slide *ngFor="let camisas of champions">
          <ion-card>
            <ion-card-header>
              <img src="{{ camisas.imagem }}">
              <ion-card-subtitle>{{ camisas.descricao }}</ion-card-subtitle>
              <ion-card-title>{{ camisas.valor }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-button size="small" color="success">
                Comprar
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>

      
      <ion-label class="title">Seleções</ion-label>

      <ion-slides [options]="sliderCamisas">
        <ion-slide *ngFor="let camisas of selecoes">
          <ion-card>
            <ion-card-header>
              <img src="{{ camisas.imagem }}">
              <ion-card-subtitle>{{ camisas.descricao }}</ion-card-subtitle>
              <ion-card-title>{{ camisas.valor }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-button size="small" color="success">
                Comprar
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
  </ion-content>
</div>